/* css toàn bộ thuộc tính */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}


ul {
    list-style: none;
}

li>a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: black;
}

header {
    height: 150px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.admin-content {
    display: flex;
}

.admin-content-left {
    background-color: beige;
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.side-li>a {
    font-weight: normal;
}

.admin-content-right {
    width: 75%;
    padding: 60px 20px 20px 15px;
}