/* section1 bên html */


/* nút carousel */
.btn-carou-next, .btn-carou-prev {
    height: 50px;
    width: 50px !important;
    transform: translateY(-50%);
}
.btn-carou-prev:hover,
.btn-carou-next:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Chữ trên ảnh */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%; 
    height: auto;
}
/* Căn giữa phần chữ trên ảnh */
.text-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    width: max-content; 
}

/* section 2 bên html */
/* background */
.section2-bg {
    background-image: url('../image/bg-signup.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}
/* thẻ card */
.card {
    margin: 20px 0px;
    height: 450px;
}

.card-body {
    padding: 10px;
}

.product-img-link {
    overflow: hidden;
}

.product-card-img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    object-fit: cover;
}

.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

.price {
    color: #007bff;
    font-size: 22px;
    font-weight: bold;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.vehicle {
    margin-left: auto;
}

.bi {
    font-size: large;
}

.tour-name {
    display: inline-block; 
    text-decoration: none;
    transform-origin: center center; 
    transition: transform 0.5s ease, color 0.5s ease; 
}

.tour-name:hover {
    text-decoration: underline;
    color: maroon;
}

.content { 
    display: none; 
} 

.active-content { 
    display: block; 
}

.card:hover {
    transform: scale(1.05);
}

/* section3 html */
.section3-aboutme {
    max-width: 300px !important;
    max-height: 135px;
    border: 1px solid #006aff;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
}


/* tối ưu kích thước nút carousel */
@media (max-width: 1200px){
    .btn-carou-next, .btn-carou-prev {
        height: 35px;
        width: 35px !important;
        transform: translateY(-50%);
    }
}
@media (max-width: 992px){
    .btn-carou-next, .btn-carou-prev {
        height: 30px;
        width: 30px !important;
        transform: translateY(-50%);
    }
}
@media (max-width: 768px){
    .btn-carou-next, .btn-carou-prev {
        height: 20px;
        width: 20px !important;
        transform: translateY(-50%);
    }
}
@media (max-width: 500px){
    .btn-carou-next, .btn-carou-prev {
        height: 15px;
        width: 15px !important;
        transform: translateY(-50%);
    }
}

/* tối ưu chữ trên ảnh chạy */
@media (max-width: 1200px){
    .text-overlay {
        display: none;
    }
}