body, html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/*breadcrumb*/
.breadcrumb {
    font-size: 16px; 
    font-weight: 500;  
}
.breadcrumb-item a {
    text-decoration: none; 
    color: black;
}
.breadcrumb-item a:hover {
    color: blue; 
}
/*title*/
.contact-title{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
/*background*/
.background-lienhe {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
/*input*/
.custom-input{
    width: 85%;
    height: 40px;
    border-radius: 15px;
}
.custom-textarea{
    height: 100px;
}
/*icon*/
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: auto;
    margin-top: 15px;
}
.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: #333;
}
/*map*/
.map-container {
    width: 100%;
    max-width: 100%;
    height: 450px; 
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.map-container iframe {
    width: 100%;
    height: 100%;
}