.card {
    margin: 20px 0px;
    height: 450px;
}

.card-body {
    padding: 10px;
}

.product-img-link {
    overflow: hidden;
}

.product-card-img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    object-fit: cover;
}

.tour-name {
    display: inline-block; 
    text-decoration: none;
    transform-origin: center center; 
    transition: transform 0.5s ease, color 0.5s ease; 
}

.tour-name:hover {
    text-decoration: underline;
    color: maroon;
}

.content { 
    display: none; 
} 

.active-content { 
    display: block; 
}

.card:hover {
    transform: scale(1.05);
}