
.bg_color{
    background-color: rgb(213, 236, 243);
}
.room-image img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 100) ;
}
#tenthe:hover,
#sothe:hover,
#ngayhethan:hover,
#sodienthoai:hover,
#tenchuyen:hover,
#giachuyen:hover,
#soluongthanhvien:hover,
#thoigiandi:hover,
#thoigianketthuc:hover,
#tongtien:hover,
#mabaomat:hover {
    background-color: #007bff67;
    border: 0,5px solid #007bff9d ;
}
.room-image img {
    transition: transform 0.3s ease-in-out;
}

.room-image img:hover {
    transform: scale(1.1);
}


#vnpayForm {
    margin-top: 10px;
}



/* Nút thanh toán */
#vnpayForm button {
    background-color: #0d6efd;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#vnpayForm button:hover {
    background-color: #0b5ed7; /* Màu hover */
}

